<% page_title 'Apartmentalize - Roommate Management System' %>

<div class="row">
  <div class="span6 offset1">
    <div class="intro-message">
      <h1 class="apartment-title">Apartmentalize</h1>
      <p>
        An expense and chore tracking system <br />
        you can use with your roommates
     </p>
     <p>
        <%= link_to 'About', about_page_path, class: 'about' %>
      </p>
    </div>
  </div>


  <div class="span4">
    <div class="sign-in-wrapper">
        <%= form_for("user", :url => new_user_session_path) do |f| %>
          <%= f.text_field :email, placeholder: 'Email',
                    class: 'text-field' %>
          <%= f.password_field :password, placeholder: 'Password',
                    class: 'text-field' %>
          <%= f.check_box :remember_me, class: 'remember-me-box' %>
          <%= f.label :remember_me, class: "remember-me" %>
          <%= f.submit 'Sign in', class: 'sign-in btn' %>
          <%= link_to "Forgot your password?", new_password_path('user') %>
        <% end %>
    </div>

    <div class="signup-button-wrapper">
      <%= link_to 'Sign up', new_group_path, class: 'btn btn-large' %>
    </div>

  </div>
</div>
