<%= form_tag({:controller => 'claims', :action => 'index' },
                    {:method => 'get', :class => 'claim-search-form'}) do |f| %>

  <div id="clear-button">
    <%= link_to 'Clear', claims_path, class: 'btn' %>
  </div>

  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>

  <%= label_tag "to-receive", "To receive from", class: 'user-label btn' %>
  <%= check_box_tag "z[to_receive]", true, @search.include_to_receive,
                {id: 'to-receive', :hidden => true} %>


  <%= label_tag 'to-pay', 'To pay', class: 'user-label btn' %>
  <%= check_box_tag "z[to_pay]", true, @search.include_to_pay,
                { :id => "to-pay", :hidden => true } %>


  <div class="search-button-wrapper">
    <% other_users(current_user).each do |u| %>
        <%= label_tag "#{u.name}-checkbox", "#{u.name}", class: 'user-label btn' %>
        <%= check_box_tag "z[user_name][]", u.name, user_checkbox_checked?(u.name, @search),
                  { :id => "#{u.name}-checkbox", :hidden => true } %>
    <% end %>
  </div>


  <div class="search-button-wrapper">
      <%= label_tag 'unpaid-checkbox', 'Unpaid', class: 'include-paid btn' %>
      <%= check_box_tag 'z[paid_status][]', false, @search.include_unpaid,
                {:id => "unpaid-checkbox", :hidden => true} %>

      <%= label_tag 'paid-checkbox', 'Paid', class: 'include-paid btn' %>
      <%= check_box_tag 'z[paid_status][]', true, @search.include_paid,
                {:id => "paid-checkbox", :hidden => true} %>
  </div>


  <div class="field">
    <%= text_field_tag 'z[title_or_description_cont]', @search.title_desc,
            placeholder: 'Title or description contains...',
            class: 'title-desc-cont' %>
  </div>


  <div class="field">
    <%= label_tag 'z[amount_min]', 'Amount between'%>
    <%= text_field_tag 'z[amount_min]', @search.amount_min, class: 'amount-search' %>
    <%= label_tag 'z[amount_max]', 'and', class: 'amount-between' %>
    <%= text_field_tag 'z[amount_max]', @search.amount_max, class: 'amount-search' %>
  </div>

  <div class="actions"><%= submit_tag "Search Claims",
              class: 'btn submit-search-button' %></div>

<% end %>
