<%= simple_form_for(@claim, :html => {class: 'form-inline new-claim-form'}) do |f| %>

  <%= f.input :title,
      placeholder: 'Title (required)',
      error: false,
      label: false,
      :input_html =>
        { :data =>
          { :'intro' => 'Title of the claim. It is required.',
            :'step' => '1'
          }
        }
  %>

  <%= f.input :description,
      :as => :text,
      placeholder: 'Description (optional)',
      error: false,
      label: false,
      :input_html =>
        {
          :cols => 50,
          :rows => 3,
          :data => {
            :intro => 'Short description of the claim. It is optional.',
            :step => '2'
          }
        }
  %>

  <%= f.input :amount,
      placeholder: 'Amount (required)',
      error: false,
      label: false,
      :input_html => {
        :data => {
          :intro => 'Amount of the claim. Must be a number with between
           0 and 2 decimal places. It is required.',
           :step => '3'
        }
      }
  %>

  <div class="split-evenly-wrapper"
    data-intro="This will split the inputted amount by the selected users
    plus yourself. Use for automatically calculating the amount of an
    evenly split bill (electric, gas, etc.)",
    data-step='4'
  >
    <%= label_tag 'split_evenly', 'Split evenly', { class: 'btn split-evenly' } %>
    <%= check_box_tag 'split_evenly', true, nil, { :class => 'split-checkbox'} %>
  </div>

  <div class="user-btn-wrapper"
    data-intro="These buttons select who the claim is created for."
    data-step='5'
  >

    <% other_users(current_user).each do |other| %>

      <%= label_tag other.name, other.name,
                class: 'btn active user-checkbox-label' %>

      <%= check_box_tag other.name, value=1, true, { :class => 'user-checkbox' } %>

    <% end %>

  </div>

  <%= f.button :submit, class: 'btn submit-claim-button'%>

  <div id="claim-form-errors">Title and amount are required</div>

  <p id='new-claim-intro'>Help</p>

<% end %>
