<%= simple_form_for(@claim, :html => {class: 'form-inline new-claim-form'},
          remote: true) do |f| %>
  <%= f.input :title, placeholder: 'Title (required)', error: false, label: false %>
  <%= f.input :description, :as => :text, placeholder: 'Description (optional)',
      error: false, label: false, :input_html => { :cols => 50, :rows => 3 } %>
  <%= f.input :amount, placeholder: 'Amount (required)', error: false, label: false %>
  <div class="user-btn-wrapper">
    <% other_users.each do |other| %>
      <%= label_tag other.name, other.name, class: 'btn active' %>
      <%= check_box_tag other.name, value=1, true, { :class => 'user-checkbox' } %>
    <% end %>
  </div>
  <%= f.button :submit, class: 'btn submit-claim-button'%>
  <div id="claim-form-errors"></div>
<% end %>
