<div class="row">
  <div class="span6 offset3">
    <div class="well">
      <%= form_for @claim, :html => {class: 'form-horizontal'} do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.label :description %>
        <%= f.text_field :description %>

        <%= f.label :amount %>
        <%= f.number_field :amount %>

        <%= f.submit 'Save changes', class: 'btn btn-large' %>
      <% end %>
      <%= link_to 'Delete', claim_path(@claim), method: 'delete', confirm: 'Are you sure?' %>
    </div>
  </div>
</div>
