<div class="row">

  <div class="span3">
    <table class="table">
      <thead>
        <th>Total Sum</th>
        <th><%= @claim_balance.total %></th>
      </thead>

      <% @claim_balance.user_balances.each do |name, balance| %>
        <tr>
          <td><%= name %></td>
          <td><%= balance %></td>
        </tr>

      <% end %>

    </table>


    <div class="hide-button-wrapper">
      <button class="btn hide-button create-button active">Create</button>
      <button class="btn hide-button search-button">Search</button>
    </div>
      <div class="claim-form-wrapper"><%= render 'new_claim_form' %></div>
  </div>

  <div class="span9">
    <table class="claims-table table table-hover">
      <thead>
        <th>></th>
        <th>> </th>
        <th>> </th>
        <th>></th>
        <th>></th>
      </thead>

      <%= render partial: 'claim', collection: @claims %>

    </table>
  </div>

</div>
