<div class="row">

  <div class="span3">
    <h4>Effective balance <%= @claim_balance.total %></h4>

    <% @claim_balance.user_balances.each do |name, balance| %>
      <h6>Effective balance for <%= name %> <%= balance %></h6>
    <% end %>

    <%= render 'new_claim_form' %>
    <%= render 'claim_search_form' %>
  </div>

  <div class="span9">
    <table class="claims-table table">
      <thead>
        <th><%= sort_link(@search, :user_owed_to_name, "Owed to") %></th>
        <th><%= sort_link(@search, :user_who_owes_name, "Owed by") %> </th>
        <th><%= sort_link(@search, :title, "Title") %> </th>
        <th><%= sort_link(@search, :amount, "Amount") %></th>
        <th><%= sort_link(@search, :created_at, "Created on") %></th>
      </thead>

      <%= render partial: 'claim', collection: @claims %>

    </table>
  </div>

</div>
