<div class="row">

  <div class="span3">
    <%= render 'new_claim_form' %>
    <%= render 'claim_search_form' %>
  </div>

  <div class="span9">
    <table class="claims-table table">
      <thead>
        <th>Owed to</th>
        <th>Owed by</th>
        <th>Title</th>
        <th>Amount</th>
        <th>Created on</th>
      </thead>
      <% @claims.each do |c| %>
        <tr>
          <td class="owed-to"><%= c.user_owed_to.name %></td>
          <td class="owed-by"><%= c.user_who_owes.name %></td>
          <td class="title">
            <%= c.title %>
            <p class="description"><%= c.description %></p>
          </td>
          <td class="amount">
            <%= c.amount %>
            <p class="links">
              <%= link_to 'View', claim_path(c) %>
              <%= link_to 'Mark paid', mark_as_paid_claim_path(c), method: 'put' %>
            </p>
          </td>
          <td class="created-on"><%= c.created_at.strftime("%B %d, %Y") %></td>
        </tr>
      <% end %>
    </table>
  </div>

</div>
