<div class="row">
  <div class="span6 offset3">
    <div class="well">

      <div class="claim-header-wrapper">
        <div class="span2">
            <div class="claim-header-text"><%= @claim.title %> <%= @claim.amount %></div>
            <div class="claim-description"><%= @claim.description %></div>
        </div>
        <div class="span2">
            Owed to<div class="claim-header-text"><%= @claim.user_owed_to.name %></div>
            Owed by<div class="claim-header-text"><%= @claim.user_who_owes.name %></div>
        </div>
      </div>

      <div class="claim-button-wrapper">
        <div class="row">

          <div class="span2 offset1">
            <button class="btn btn-inverse edit-button">
              <%= link_to 'Edit', edit_claim_path(@claim) %>
            </button>
          </div>
          <div class="span2">
            <button class="btn btn-inverse">
              <%= link_to 'Mark as paid', mark_as_paid_claim_path(@claim), method: 'put' %>
            </button>
          </div>

        </div>
      </div>

      <div class="claim-comment-wrapper">
        <div class="row">
          <div class="span4 offset1">
            <div class="comment-form-wrapper">
                <%= render 'claims/comment_form' %>
            </div>
          </div>
        </div>

        <ul class="comments-list">
          <div class="row">
            <div class="span3 offset1">
              <p><%= @comments.count %> comments (most recent first)</p>
            </div>
          </div>
          <%= render partial: 'claims/comment', collection: @comments %>
        </ul>

      </div>

    </div>
  </div>
</div>
