<div class="row">
  <div class="span8 offset2">
    <div class="well">

      <div class="claim-header-wrapper">


        <div class="row header-row-wrapper">
          <div class="span3 offset1">
            <div class="leftmost">
              <span class="claim-header-title">Title</span>
              <div class="claim-header-text">
                <%= @claim.title %>
              </div>
            </div>
          </div>

          <div class="span2">
            <span class="claim-header-title">Owed to</span>
            <div class="claim-header-text">
              <%= @claim.user_owed_to.name %>
            </div>
          </div>
        </div>


        <div class="row header-row-wrapper">
          <div class="span3 offset1">
            <div class="leftmost">
              <span class="claim-header-title">Amount</span>
              <div class="claim-header-text">
                <%= @claim.amount %>
              </div>
            </div>
          </div>

          <div class="span3">
            <span class="claim-header-title">Owed by</span>
            <div class="claim-header-text">
              <%= @claim.user_who_owes.name %>
            </div>
          </div>
        </div>


        <div class="row header-row-wrapper">
          <div class="span3 offset1">
            <div class="leftmost">
              <span class="claim-header-title">Description</span>
              <div class="claim-header-small">
              <%= @claim.description %>
              </div>
            </div>
          </div>

          <div class="span3">
            <span class="claim-header-title">Paid on
            <div class="claim-header-small show-page-paid-status">
              <%= paid_status_for_show_page @claim %>
            </div>
          </div>
        </div>
      </div>

      <div class="claim-button-wrapper">
        <div class="row">
          <div class="span6">
              <%= edit_claim_link(@claim, current_user) %>
              <span id="mark-as-paid-link">
                <%= mark_paid_link_user_parse(@claim, current_user) %>
              </span>
          </div>
        </div>
        <div class="row">
          <div id="mark-as-paid-error"></div>
        </div>
      </div>

      <div class="claim-comment-wrapper">
        <div class="row">
          <div class="span4 offset2">
            <div class="comment-form-wrapper">
                <%= render 'claims/comment_form' %>
            </div>
          </div>
        </div>

        <ul class="comments-list">
          <div class="row">
            <div class="span3 offset2">
              <p id="comments-count">
                <span id="comment-number"><%= @comments_count %></span>
                comments
              </p>
            </div>
          </div>
          <%= render partial: 'comments/comment', collection: @comments %>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= content_for :extra_footer do %>

  <script type="text/javascript">
    $('.show-page-mark-paid').click(function(e) {
      e.stopPropagation();
      e.preventDefault();
      c = new ClaimController();
      c.markPaid($(this), c.claimView.updateShowPageAfterPaid);
    });
  </script>

<% end %>
