<div class="span4 offset4">
  <div class="well">

    <%= render 'form_errors' %>

    <%= form_for @donation do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :amount %>
    <%= f.text_field :amount %>

    <%= label_tag :card_number, "Credit Card Number " %>
    <%= text_field_tag :card_number, nil, name: nil %>

    <%= label_tag :card_code, "Security Code on Card (CVV)" %>
    <%= text_field_tag :card_code, nil, name: nil %>

    <%= label_tag :card_month, "Card Expiration" %>
    <%= select_month nil, {add_month_numbers_true: true},
            {name: nil, id: "card_month"}%>
    <%= select_year nil, {start_year: Date.today.year,
            end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>

    <%= f.hidden_field :stripe_card_token %>

    <div id="stripe-error"></div>

    <div class="actions">
      <%= f.submit "Donate", class: 'btn' %>
    </div>

    <% end %>

  </div>
</div>

<%= content_for :extra_footer do %>
  <script type="text/javascript">
  jQuery(function() {
    Stripe.setPublishableKey($('meta[name="stripe-key"]').attr('content'));
    donation.setupForm();
  });
  </script>
<%- end -%>
