<% page_title 'Apartmentalize - Edit chore' %>

<div class="row">
  <div class="span4 offset4">
    <div class="well">
      <%= simple_form_for(@chore) do |f| %>
        <%= f.input :title, error: false, value: @chore.title, required: false,
              label: 'Title (required)' %>
        <%= f.input :description, error: false, value: @chore.description, required: false,
              label: 'Description (required)' %>
        <%= f.association :user, collection: current_user.group.users,
                :wrapper_html => { class: 'select-wrapper'}, required: false,
                label: 'User (required)' %>
        <%= f.button :submit, 'Save changes', class: 'btn btn-large btn-primary' %>
      <% end %>

      <%= link_to 'Delete', chore_path(@chore), method: 'delete', confirm: 'Are you sure?' %>

    </div>
  </div>
</div>
