<div class="row">
  <div class="span8 offset2">
    <div class="chore-box well">

      <h2>
        Chores for the week of
          <%= Date.today.beginning_of_week.strftime("%b %d") %>
      </h2>

      <table class="table">
        <tr>
          <td>Name</td>
          <td>Title</td>
          <td>Description</td>
          <td></td>
        </tr>

        <% @chores.each do |c| %>
          <tr>
            <td><%= c.user.name %></td>
            <td><%= c.title %></td>
            <td><%= c.description %></td>
            <td><%= link_to 'Edit', edit_chore_path(c) %></td>
          </tr>
        <% end %>
      </table>

      <%= simple_form_for(@chore, :html => {:class => 'form-inline'}) do |f| %>
        <div>
          <%= f.input :title,
                  label: false,
                  placeholder: 'Title (required)',
                  error: false %>
          <%= f.input :description,
                  label: false,
                  placeholder: 'Description (required)',
                  error: false %>
          <%= f.association :user, collection: current_user.group.users,
                      label: false, prompt: 'Select User' %>
        </div>
        <%= f.button :submit %>
      <% end %>

    </div>
  </div>
</div>
