<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to 'Apartment', home_page_path, class: 'header-title' %></li>
        </ul>
        <ul class="nav pull-right">
          <li><%= link_to 'Chores', chores_path %></li>
          <li><%= link_to 'Claims', claims_path %></li>
          <li><%= link_to 'Profile', user_path(current_user) %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path,
                method: 'delete' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
