<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to 'Apartment', root_path, class: 'brand'%>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to 'Chores', chores_path %></li>
          <li><%= link_to 'Debts', debts_path %></li>
          <li><%= link_to 'Profile', user_path(current_user) %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
