<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

  <div class="unauthorized-background">
    <div class="container">
      <div class="front-page-spacer"></div>
        <%= yield %>
    </div>
  </div>

  </body>
</html>
